@CHARSET "ISO-8859-1";


.ui-autocomplete {
	max-height: 150px;
	overflow: auto;
	max-width: 300px;
}
	
html .ui-autocomplete {
	height: 150px;
	max-width: 300px;
	font-size: 11px;
}

div.ui-datepicker{
 font-size:10px;
}

	
body {
	font-size: 62.5%;
}