BODY 
{
SCROLLBAR-FACE-COLOR: #FFFFFF; 
SCROLLBAR-HIGHLIGHT-COLOR: #F3EFEE; 
SCROLLBAR-SHADOW-COLOR:  #FFFFFF; 
SCROLLBAR-3DLIGHT-COLOR: #FFFFFF; 
SCROLLBAR-ARROW-COLOR: #003F72; 
SCROLLBAR-TRACK-COLOR: #FFFFFF;
SCROLLBAR-DARKSHADOW-COLOR: #003F72; 
}

.textbox {  font-family: Arial; font-size: 12px; color: #000000; border:#000000; border-style: solid; border-top-width: 1px; border-right-width:1px; border-bottom-width: 1px; border-left-width: 1px}
.navigation {  font-family: Arial; font-size: 12px; color: #FFFFFF; border: #007CC3; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 6px; line-height: 22px}
.page-header {  font-family: Arial; font-size: 12px; color: #FFFFFF; font-weight: bold}
.small-gap {  font-family: Arial; font-size: 2px}
.box {  font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.error-text {  font-family: Arial;font-weight:bold; font-size: 12px;background-color: #D9EAFF; font-color: red; color: red; border: #CCCCCC; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.btmHLine {  font-family: Arial; font-size: 12px; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; padding-right: 4px; padding-left: 4px}
.topHLine {  font-family: Arial; font-size: 12px; border: #CCCCCC; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-right: 4px; padding-left: 4px}
.table-header {  font-family: Arial; font-size: 11px; line-height: 20px; color: #000000; vertical-align: middle; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 26px; font-weight: bold}
.table-header-left {  font-family: Arial; font-size: 11px; line-height: 20px; color: #000000; vertical-align: middle; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px;font-weight: bold}
.blue-text {  font-family: Arial; font-size: 12px; color: #007CC3; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.light-btn { 	border:medium none; font-family: Arial; font-size: 12px; color: #FFFFFF; background-image: url('../images/light-btn-bkgd.jpg'); font-weight: bold; valign:middle}
.btns-td {  font-family: Arial; font-size: 12px; line-height: 30px; color: #000000; padding-left: 26px; }
.grey-bkgd {  background-color: #EEEEEE; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px}
.tblrows { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px ; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px; line-height: 19px}
.tblheader{ font-family: Arial; font-size: 12px; color: #000000; border: #FFFFFF solid; border-width: 1px 1px 1px 0px; background-color: #D9E6F6; padding-left: 3px; line-height: 19px}
.tblrows-empty {  font-family: Arial; font-size: 12px; border: #CCCCCC; border-style: solid; border-width: 0px; padding-right: 4px; padding-left: 4px}
.tblrows-center { font-family: Arial; font-size: 12px; text-align:center; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px ; padding-top: 0px; padding-right: 3px; padding-bottom: 0px; padding-left: 0px; line-height: 19px}
.tblrows-right { font-family: Arial; font-size: 12px; text-align:right; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px ; padding-top: 0px; padding-right: 3px; padding-bottom: 0px; padding-left: 0px; line-height: 19px}
.tblrows-right-bold { font-family: Arial; font-weight:bold; font-size: 12px; text-align:right; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px ; padding-top: 0px; padding-right: 3px; padding-bottom: 0px; padding-left: 0px; line-height: 19px}
.tblrows-right-noborder { font-family: Arial; font-size: 12px; text-align:right; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-bottom-width: 1px; border-left-width: 0px ; border-right-width: 0px ; padding-top: 0px; padding-right: 3px; padding-bottom: 0px; padding-left: 0px; line-height: 19px}
.tblheader-bold {font-family: Arial; font-size: 12px; font-weight:bold; color: #000000; border: #FFFFFF solid; border-width: 1px 1px 1px 0px; background-color: #D9E6F6; padding-left: 3px; line-height: 19px}
.tblheader{ font-family: Arial; font-size: 12px; color: #000000; border: #FFFFFF solid; border-width: 1px 1px 1px 0px; background-color: #D9E6F6; padding-left: 3px; line-height: 19px}
.tblheaderlastcol{ font-family: Arial; font-size: 12px; color: #000000; border: #FFFFFF solid; border-width: 1px 1px 1px 0px; border-right-color:#CCCCCC; background-color: #D9E6F6; padding-left: 3px; line-height: 19px}
.tblfirstcol { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px ; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px; line-height: 19px}
.tbllastcol { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px ; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px; line-height: 19px}
.table-header-left {  font-family: Arial; font-size: 11px; line-height: 20px; color: #000000; vertical-align: middle; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 2px; font-weight: bold}
.input-textarea{
	width: 270px;
	height: 70px;
	font-family:  Arial; 
	font-size: 14px; 
	color: #000000; 
	text-decoration: none; 
	}

.tblcol { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC solid; border-width: 0px 0px 1px; padding-left: 3px; line-height: 19px ; max-height: 10px;}
.tbllabelcol { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC solid; border-width: 0px 0px 1px; padding-left: 3px; line-height: 19px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px ;background-color: #F7FDFD;}
.tblcol1 { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC solid; border-width: 0px 0px 1px 1px; padding-left: 3px; line-height: 19px}
.tblcol-right{ font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC solid; text-align:right; border-width: 0px 0px 1px; padding-right: 3px; padding-left: 0px; line-height: 19px}
.tblcolSelected { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC solid; border-width: 0px 0px 1px; padding-left: 3px; line-height: 19px ; background-color: #EEEEEE}
.tblrowsSelected { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px ; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px; line-height: 19px ; background-color: #EEEEEE}
.subLinksTitle {  font-family: Arial; font-size: 12px; color: #FFFFFF; background-color: #005197; padding-left: 4px}
.subLinksHeader { font-family: Arial; font-size: 11px; color: #000000; background-color: #CCCCCC; padding-left: 4px }
.subLinks {  font-family: Arial; font-size: 11px; color: #000000; padding-left: 4px; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}


a.subLink {font-family: Arial; font-size: 11px; color: #000000; text-decoration:none;}
a.subLink:hover {font-family: Arial; font-size: 11px; color: #000000; text-decoration:underline;}

.subLinksIndent { font-family: Arial; font-size: 11px; color: #000000; padding-left: 7px; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px }
.small-text {  font-family: Arial; font-size: 11px; color: #000000}
.small-text-grey { font-family: Arial; font-size: 11px; color: #949494}
.grey-text { font-family: Arial; font-size: 12px; color: #949494}
.labeltext { font-family: Arial; font-size: 12px; color: #000000;padding-top: 1px; padding-right: 0px; padding-bottom: 1px; padding-left: 3px }
.captiontext { font-family: Arial; font-size: 12px; color: #000000;padding-top: 1px; padding-right: 0px; padding-bottom: 1px; padding-left: 26px }
.xmltext { font-family: Courier; font-size: 12px; color: #000000;padding-top: 1px; padding-right: 0px; padding-bottom: 1px; }
.textbold { font-family: Arial;  font-weight: bold; font-size: 12px; color: #000000;padding-top: 1px; padding-right: 0px; padding-bottom: 1px; padding-left: 3px }
.labeltext-small { font-family: Arial; font-size: 11px; color: #000000;padding-top: 1px; padding-right: 0px; padding-bottom: 1px; padding-left: 3px }
.labeltext-right { font-family: Arial; font-size: 12px; text-align:right;color: #000000;padding-top: 1px; padding-right: 0px; padding-bottom: 1px; padding-left: 0px; padding-right: 3px }
.textbox-right { font-family: Arial; font-size: 12px; text-align:right;color: #000000;}
.tblfirstcol { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px ; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px; line-height: 19px}
.tblfirstcol-center { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; text-align:center; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px ; padding-top: 0px; padding-right: 3px; padding-bottom: 0px; padding-left: 0px; line-height: 19px}
.tblfirstcol-right { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; text-align:right; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px ; padding-top: 0px; padding-right: 3px; padding-bottom: 0px; padding-left: 0px; line-height: 19px}
.tblfirstcol-small { font-family: Arial; font-size: 11px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px ; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px; line-height: 19px}
.blue-text-bold { font-family: Arial; font-size: 12px; color: #00477F; border: #CCCCCC solid; font-weight: bold; padding-left: 5px; border-width: 0px 0px 0px}
.tblheader-bold-grey { font-family: Arial; font-size: 12px; font-weight:bold; color: #666666; border: #FFFFFF solid; border-width: 1px 1px 1px 0px; background-color: #D9E6F6; padding-left: 3px; line-height: 19px }
.topbottomborder { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px ; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px; line-height: 19px}
.dbsprfield { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px ; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px; line-height: 19px ;width: 100%}
.topbottomborder { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px ; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px; line-height: 19px}
.noborder { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px ; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px; line-height: 19px ;width: 100%}
.top-right-btm-lines {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-family: Arial; 
	font-size: 12px;
}
.left-lines {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-family: Arial; 
	font-size: 12px;
	padding-left: 5px;
}

.bottom-line {  font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}



.top-right-lines {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-family: Arial; 
	font-size: 12px;
}


a{text-decoration:none; color:#000000}
a:hover{text-decoration:underline; color:#000000}

.navigation a{text-decoration:none; color:#FFFFFF}
.navigation a:hover{text-decoration:none; color:#FFFFFF}

.tblrows a{text-decoration:underline; color:#000000}
.tblrows a:hover{text-decoration:none; color:#000000}

.tblfirstcol a{text-decoration:underline; color:#000000}
.tblfirstcol a:hover{text-decoration:none; color:#000000}

.tblrowsSelected a{text-decoration:underline; color:#000000}
.tlrowsSelected a:hover{text-decoration:none; color:#000000}

.tblcol a{text-decoration:underline; color:#000000}
.tblcol a:hover{text-decoration:none; color:#000000}

.tblcolSelected a{text-decoration:underline; color:#000000}
.tblcolSelected a:hover{text-decoration:none; color:#000000}

.small-text-grey a{text-decoration:underline; color:#949494}
.small-text-grey a:hover{text-decoration:none; color:#949494}

.grey-text a{text-decoration:underline; color:#949494}
.grey-text a:hover{text-decoration:none; color:#949494}

.tblheader-bold-grey a{text-decoration:underline; color:#666666}
.tblheader-bold-grey a:hover{text-decoration:none; color:#666666}

.tblheader-bold a{text-decoration:underline; color:#000000}
.tblheader-bold a:hover{text-decoration:none; color:#000000}
.small-text-grey a{text-decoration:underline; color:#949494}
.small-text-grey a:hover{text-decoration:none; color:#949494}
.text {  font-family: Arial; font-size: 12px; color: #000000; padding-left: 3px; line-height: 19px}
.textbox {  font-family: Arial; font-size: 12px; color: #000000; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.selectbox { font-family: Arial; font-size: 12px; color: #000000; border: 1px #000000 inset; BORDER-BOTTOM:medium none;BORDER-LEFT:medium none;BORDER-RIGHT:medium none;BORDER-TOP:medium none; }
.top-btmlines {
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.blue-text-bold { font-family: Arial; font-size: 12px; color: #00477F; border: #CCCCCC solid; font-weight: bold; padding-left: 5px; border-width: 0px 0px 0px}
.tblheader-bold-grey { font-family: Arial; font-size: 12px; font-weight:bold; color: #666666; border: #FFFFFF solid; border-width: 1px 1px 1px 0px; background-color: #D9E6F6; padding-left: 3px; line-height: 19px }
.search-header { font-family: Arial; font-size: 12px; color: #000000; padding-left: 3px; line-height: 19px ; font-weight: bold; border: #D9E6F6 solid; border-width: 1px 1px 0px}

.btnMoveUp {
	background-image: url(/images/top1-level.jpg);
	background-color: #FFFFFF;
	border: medium none;
	background-repeat: no-repeat;
	cursor: hand;




}
.btnMoveFirst {

	background-image: url(/images/top-level.jpg);
	background-color: #FFFFFF;
	border: medium none;
	background-repeat: no-repeat;
	cursor: hand;
}
.btnMoveLast {


	background-image: url(/images/bottom-level.jpg);
	background-color: #FFFFFF;
	border: medium none;
	background-repeat: no-repeat;
	cursor: hand;
}
.btnMoveDown {



	background-image: url(/images/bottom1-level.jpg);
	background-color: #FFFFFF;
	border: medium none;
	background-repeat: no-repeat;
	cursor: hand;
}
.text-noborders {
	border: 0px none #FFFFFF;
	font-family: Arial;
	font-size: 12px;
	color: #000000;
}

.cell-leftline {font-family: Arial; font-size: 12px; text-align:center; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.cell-rightbottomline {font-family: Arial; font-size: 12px; text-align:center; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px}
.tblleftlinerows { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 1px ; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px; line-height: 19px}
.tblrightlinerows { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 1px ; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px; line-height: 19px}
.newaddedelement{font-family: Arial; font-size: 14px;}

.loading {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -100px;
   }
  
.blackterminal{
	background-color: #000000;
	color: #FFFFFF;
	font-family: monospace;
}
.allborder { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px ; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px; line-height: 19px} 
.topbottomborder { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px ; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px; line-height: 19px}
.noborder { font-family: Arial; font-size: 12px; color: #000000; border: #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px ; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 3px; line-height: 19px}
.disableClass{
border: 1px inset gray;
border-top-color: gray;
border-top-width: 1px;
border-right-color: gray;
border-right-width: 1px;
border-bottom-color: gray;
border-bottom-width: 1px;
border-left-color: gray;
border-left-width: 1px;
};


